[submodule "patch-apk"]
	path = patch-apk
	url = https://github.com/NickstaDB/patch-apk
[submodule "java2smali"]
	path = java2smali
	url = https://github.com/izgzhen/java2smali
[submodule "jadx"]
	path = jadx
	url = https://github.com/skylot/jadx
[submodule "dex2jar"]
	path = dex2jar
	url = https://github.com/pxb1988/dex2jar
