<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="42" configForSplit="" package="com.sonicPenguins.museMonitor" split="config.armeabi_v7a"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:hasCode="false">
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="9" />
    </application>
</manifest>